* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1C1C1C;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.container {
    height: 550px;
    width: 550px;
    background-color: #1F2937;
    padding: 115px 52px;
}

#para-1 {
    color: white;
    font-size: 40px;
    font-weight: 800;
    font-family: 'Karla', sans-serif;
}

#para-2 {
    color: #4ADF86;
    font-size: 40px;
    font-weight: 800;
    font-family: 'Karla', sans-serif;
}

#para-3 {
    color: #D5D4D8;
    font-size: 20px;
    font-family: 'Karla', sans-serif;
    margin-top: 10px;
}

#generate {
    color: white;
    background-color: #10B981;
    border: 1px solid #10B981;
    border-radius: 4px;
    padding: 8px;
    font-family: 'Inter', sans-serif;
    display: inline-block;
    margin-top: 51px;
}

#div-border {
    background-color: #2F3E53;
    border: 1px solid #2F3E53;
    margin-top: 35px;
}

.password-container {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

#password-1,
#password-2 {
    background-color: #273549;
    color: #55F991;
    width: 211px;
    height: 39px;
    border: 1px solid #273549;
    border-radius: 8px;
    text-align: center;
    padding-top: 8px;
    font-family: 'Inter', sans-serif;
}